@{
    ViewData["Title"] = "Create a Workout";
    ViewData["Username"] = ViewBag.Username;
}

<link rel="stylesheet" href="~/css/fitnessplan.css" />

<div class="container outer-content">
    <h1>Select a Fitness Plan</h1>
    <br />
    <div class="content col-9">
        <div class="container m-auto">
            <br />
            <h5>I want to lose weight...</h5>
            <div class="weight plan">
                <img src="~/Assets/lose-weight.png" />
                <ul>
                    <li>
                        An interval workout optimizes weight loss
                    </li>
                    <li>
                        Keeps your heart rate up
                    </li>
                    <li>
                        Great balance between strength and endurance training
                    </li>
                </ul>
                <form asp-action="SelectIntervalWorkout">
                    <button type="submit">Select Interval Workout</button>
                </form>
            </div>
            <br />
            <h5>I want to build strength...</h5>
            <div class="strength plan">
                <img src="~/Assets/strength.png" />
                <ul>
                    <li>
                        Improves running speed
                    </li>
                    <li>
                        Builds muscle
                    </li>
                    <li>
                        A workout that practices your sprinting abilities
                    </li>
                </ul>
                <form asp-action="SelectSprintWorkout">
                    <button asp-action="SelectSprintWorkout">Select Sprint Workout</button>
                </form>
            </div>
            <br />
            <h5>I want to build endurance...</h5>
            <div class="endurance plan">
                <img src="~/Assets/lung.png" />
                <ul>
                    <li>
                        Improves cardio vascular health
                    </li>
                    <li>
                        Improves long distance running abilities
                    </li>
                    <li>
                        A steady state workout designed for distance
                    </li>
                </ul>
                <form asp-action="SelectCardioWorkout">
                    <button asp-action="SelectCardioWorkout">Select Cardio Workout</button>
                </form>
            </div>
            <br /><br />
        </div>
    </div>
</div>