@{
    ViewData["Title"] = "FitnessPlan";
}

<link rel="stylesheet" href="~/css/fitnessplan.css" />

<div class="container">
    <h1>Select a Fitness Plan</h1>
    <br />
    <div class="content col-9">
        <div>
            <h6>I want to lose weight...</h6>
            <div class="weight plan">
                <button>Select Interval Workout</button>
            </div>
            <h6>I want to build strength...</h6>
            <div class="strength plan">
                <button>Select Sprint Workout</button>
            </div>
            <h6>I want to build endurance...</h6>
            <div class="endurance plan">
                <button>Select Steady State Workout</button>
            </div>
        </div>
    </div>
</div>