@{
    ViewData["Title"] = "History";
    ViewData["Username"] = ViewBag.Username;
    int index = 1;
}
<link rel="stylesheet" href="~/css/history.css" />
<br />
<h1>Workout History</h1>
<br />
<br />
<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Workout Type</th>
        <th scope="col">Date</th>
        <th scope="col">Completed</th>
    </tr>
    @for (int i = 0; i < ViewBag.History.Count; i++)
    {
        <tr>
            <th scope="row">@index</th>
            <td>@ViewBag.History[i].WorkoutType</td>
            <td class="date-column">@ViewBag.History[i].Date</td>
            @{if (ViewBag.History[i].isCompleted)
              {
                  <td>Yes</td>
              }
              else
              {
                  <td>No</td>
              }
            }
        </tr>
        index = index + 1;
    }
</table>


