@{ 
    Layout = null;
}

@{ //This page needed a different header than the rest of the site because the user isn't logged in yet
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container navigation">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BeatEven</a>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="container">
            <div class="row">
                <div class="left-half col-6">
                    <div class="inner-login align-self-center">
                        <h1 class="title">Login</h1>
                        <h6>Don't have an account? <a class="account-link">Create one here</a></h6>

                        <form>
                            <input class="textbox" type="text" placeholder="Username" /><br /><br />
                            <input class="textbox" type="text" placeholder="Password" /><br /><br />
                            <input id="remember" type="checkbox" />
                            <label for="remember">Remember Me</label>
                            <a class="account-link" id="forgot-password">Forgot Password?</a><br /><br />
                            <input class="button" type="submit" value="Login">
                        </form>
                    </div>
                </div>
                <div class="right-half col-6">
                    <img src="~/Assets/jogger_edit.png" />
                </div>
            </div></main>
    </div>
</body>
</html>

