@model UserProfile
@{ 
    ViewData["Title"] = "Sign Up!";
    Layout = null;
    var Error = @ViewBag.Error;
}

@{ //This page needed a different header than the rest of the site because the user isn't logged in yet
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container navigation">
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">BeatEven</a>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="container">
            <div class="row">
                <div class="left-half col-6">
                    <div class="inner-login align-self-center">
                        <h1 class="title">Sign Up</h1>
                        <h6>Already have an account? <a href="@Url.Action("Index")" class="account-link">Click here to login!</a></h6>
                        @if (Error == "InvalidInput")
                        {
                            <p class="input-validation-error">Please fill in all fields.</p>
                        }
                        @if (Error == "UserAlreadyExists")
                        {
                            <p class="input-validation-error">A user with this name already exists.</p>
                        }
                        <form asp-action="SignUpForm">
                            <input asp-for="Name" required class="textbox" id="username" type="text" placeholder="Your Username" /><br /><br />
                            <input asp-for="Password" required class="textbox" id="password" type="password" placeholder="Password" /><br /><br />
                            <br /><br />
                            <input class="button" type="submit" value="Sign Up">
                        </form>
                    </div>
                </div>
                <div class="right-half col-6">
                    <img src="~/Assets/jogger_edit.png" />
                </div>
            </div></main>
    </div>
</body>
</html>

